.nav-container {
    display: flex;
    flex-direction: column;
}
  
.logo-container {
    padding-left: 275px; /* Adjust margin as needed */
    background: linear-gradient( rgb(255, 255, 255),rgba(255, 226, 188, 0.644)); /* Orange to light orange gradient */
}

.logo-image {
    width: 350px;
}

.yellow-strip {
    width: 100%;
    background: linear-gradient(rgb(241, 157, 0), rgb(255, 194, 64)); /* Orange to light orange gradient */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.329);
}
  
.yellow-strip ul {
    list-style: none;
    display: flex;
    padding-left: 300px;
    margin-block: 0px; /* Remove default margin from the link and the yellow strip */
}

.yellow-strip ul a {
    text-decoration: none;
    color: white;
}
  
.yellow-strip ul li {
    /* margin-right: 0px; */
    font-size: 15px;
    font-weight: 550;
    padding: 8px 25px; /* vert , horizontal */
}
  
/* nav ul li:last-child {
    margin-right: 0;
} */

.yellow-strip ul li.active {
    background: linear-gradient(rgb(0, 76, 241), rgb(64, 131, 255));
    border-radius: 5px;
}
  
.yellow-strip ul li:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.24);
}
