.nav-container {
    display: flex;
    flex-direction: column;
}
  
.logo-container {
    padding-left: 100px; /* Adjust margin as needed */
    background-color: #fff3e9;
}

.logo-image {
    width: 400px;
}

.yellow-strip {
    width: 100%;
    background: linear-gradient(rgb(241, 157, 0), rgb(255, 194, 64)); /* Orange to light orange gradient */
}
  
.yellow-strip ul {
    list-style: none;
    display: flex;
    margin-left: 60px;
    margin-block: 0px; /* Remove default margin from the link and the yellow strip */
}

.yellow-strip a {
    text-decoration: none;
    color: white;
}
  
.yellow-strip ul li {
    /* margin-right: 0px; */
    font-size: 15px;
    font-weight: 550;
    padding: 10px 25px; /* vert , horizontal */
}
  
/* nav ul li:last-child {
    margin-right: 0;
} */

.yellow-strip ul li.active {
    background-color: #0063e6;
    
}
  
.yellow-strip ul li:hover {
    text-decoration: underline;
    color: white;
}
